<% layout('/layout/page') %>
<% block('title', 'Регистрация'); %>

<p class="lead"></p>



<script src="/socket.io/socket.io.js"></script>
<script>
   var socket = io.connect();
   var text = {
       login: prompt("Write login", ''),
       Password: prompt("Write password", '')
   };
   socket.on('news', function (data) {
      console.log(data);
      socket.emit('my other event', { my: text });
   });
</script>
});