<% layout('/layout/page') %>
<% block('title', 'Главная'); %>


<body style=background-image:url('/home/anton/Downloads/examplexpress/templates/cloud.jpg')>



<!--
<body>
<h1>Введите данные</h1>
<form action="/signin" method="post">
    <label>Имя</label><br>
    <input type="text" name="userName" /><br><br>
    <label>Возраст</label><br>
    <input type="number" name="userAge" /><br><br>
    <input type="submit" value="Отправить" />
</form>
</body>
-->
<!--
<form>
    <table id="zakazTable">
        <tr>
            <td>
                <input type="text" value="" id="login">
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" value="" id="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Зарегистрироваться" onclick="somefunc()">
                <input type="button" value="Отмена">
            </td>
        </tr>
    </table>
    </table>
    <div id="zayavka"></div>
</form>


<script src="/socket.io/socket.io.js"></script>
<script>

    function somefunc(){
        var name = document.getElementById("login").value;
        var password = document.getElementById("password").value;
        var profile = name + '/' + password;
        profile = profile.split('/');
        socket.emit('my other event',  profile );

    }

   var socket = io.connect();



   socket.on('news', function (data) {
      console.log(data);
    //  socket.emit('my other event', { my: name });
   });
</script>


-->