<!DOCTYPE html>
<html>
<head>
    <title>HI PEOPLE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>HI PEOPLE</h1>
<p>Welcome to my first page</p>

<%-body%>
</body>
</html>
