<% layout('/layout/page') %>
<% block('title', 'Войти'); %>

<p class="lead"></p>


<script src="/socket.io/socket.io.js"></script>



<body>
<form action="/" method="post">
    <table id="zakazTable">
        <tr>
            <td>
                <input type="text" value="" id="login">
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" value="" id="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Войти" onclick="somefunc()">
                <input type="button" value="Отмена" onclick="clear()">
            </td>
        </tr>
    </table>
    </table>
    <div id="zayavka"></div>
</form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>

    function somefunc(){
        var name = document.getElementById("login").value;
        var password = document.getElementById("password").value;
        var profile = name + '/' + password;
        profile = profile.split('/');
        socket.emit('loginuser',  profile );

    }

    function clear(){
        ocument.getElementById("login").value = "";
        ocument.getElementById("password").value = "";
    }


    var socket = io.connect();



    socket.on('news', function (data) {
        console.log(data);
        //  socket.emit('my other event', { my: name });
    });
</script>